################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ZipExtract/.vs/ZipExtract/v15/Server/sqlite3
